/example_files/*
/vp-analysis/*
/ref/reference_pol_only.gb
/.snakemake/*
/__pycache__/*
/HIV_prediction_output/*
/HIV_resistance_reports/*
/input_samples/*
/input_vcfs/*
/output_vcfs/*
/snakemake_trial/*
# /env/snakemake_all.yml
/tmpdir_hiv/*
/slurm_jobs/*
/generate_vcfs.py
/input_vcfs/*
